@charset "UTF-8";
/* Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em;
}
 header {
    background-color: beige;

 }

 header > h1 {
    text-align: center;

 } 

 menu li { background-color: darkseagreen;
    display: inline-block;
    padding: 10px;

 }

 menu ul {
    list-style-type: none;
    background-color: antiquewhite;
    color: white;
 }
 article {
    width: 600px;
    display: block;
    margin: auto;
 }