

 * {
    padding: 0px;
    border: 0px;
    
 }

 body, html { 
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
 }
 
 
 .container {
    text-align: center;
    border: 2px solid blue;
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(8, 1fr);
}

.caixa1 {
    background-color: rgb(48, 48, 205);
  
    /*grid-row: 1 / 2;
    grid-column: 1 / 5;*/
    grid-area: 1/ 1 / 2 / 9;
}

.caixa2 {
    background-color: rgba(48, 48, 250);
   
   /* grid-row: 2 / 4;
    grid-column: 1 / 4;*/
    grid-area: 2 / 1 / 3 / 9;
}

.caixa3 {
    background-color: rgba(205, 190, 190, 0.463);
   
    /*grid-row: 2 / -1;
    grid-column: 4 / 5;*/
    grid-area: 3 / 1 / 7 / 7;
}

.caixa4 {

    background-color: rgba(154, 149, 149, 0.959);
    grid-area: 3 / 7 / 7 / 9;
}

.caixa5 {
    background-color: rgba(48, 48, 250);
    grid-area: 7 / 1 / 8 / 9;
}
