

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1 {
    background-color: rgb(48, 48, 205);
  
    /*grid-row: 1 / 2;
    grid-column: 1 / 5;*/
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: lightgray;
   
   /* grid-row: 2 / 4;
    grid-column: 1 / 4;*/
    grid-area: 2 / 1 / 4 / 4;
}

.caixa3 {
    background-color: rgba(239, 222, 222, 0.463);
   
    /*grid-row: 2 / -1;
    grid-column: 4 / 5;*/
    grid-area: 2 / 4 / -1 / 5;
}