

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1 {
    background-color: rgb(48, 48, 205);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    
    
}

.caixa2 {
    background-color: lightgray;
   / grid-row-start: 2;
     grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    
    
}

.caixa3 {
    background-color: rgba(239, 222, 222, 0.463);
    /grid-row-start: 2;
     grid-row-end: -1;
    grid-column-start: 4;
    grid-column-end: 5;
    

}